---
title: order-ua
lang: ua
ver: order
---

{% extends "layouts/_layout.html" %}

{% block b11 %} Забудь про віруси та постійні збої в комп’ютері!<br /><b>ESET &mdash; насолождуйся безпекою!</b> {%endblock%}
{% block b12 %} Найкращий вибір для захисту усіх ваших домашніх пристроїв на Windows та Android, MacOs та Linux {%endblock%}
{% block b13 %} <b>Обирай</b> антивірус {%endblock%}
{% block b14 %} <b>Сплачуй</b> карткою {%endblock%}
{% block b15 %} <b>Отримуй код</b> активації на email<b> за 15 хвилин</b> {%endblock%}

{% block b21 %}
  <h2>Безпечно відкривай світ онлайн</h2>
  <p class="safely__sub">Збалансоване поєднання швидкості роботи, точності виявлення та зручності використання дозволить безтурботно проводити дозвілля онлайн.</p>
{% endblock %}

{% block b31 %} Чому саме ESET? {% endblock %}

{% block b51 %} Кожен має право відчувати себе у безпеці, навіть онлайн! {% endblock %}
