---
title: order-ru
lang: ru
ver: order
---

{% extends "layouts/_layout.html" %}

{% block b11 %} Забудь о вирусах и постоянных сбоях в компьютере!<br /><b>ESET &mdash; наслаждайся безопасностью!</b> {%endblock%}
{% block b12 %} Лучший выбор для защиты всех ваших домашних устройств на Windows и Android, MacOs и Linux {%endblock%}
{% block b13 %} <b>Выбирай</b> антивирус {%endblock%}
{% block b14 %} <b>Оплачивай</b> картой {%endblock%}
{% block b15 %} <b>Получай код</b> активации на email<b> за 15 минут</b> {%endblock%}

{% block b21 %}
  <h2>Безопасно открывай мир онлайн</h2>
  <p class="safely__sub">Сбалансированное объединение скорости работы, точности выявления и удобство использования позволяют беззаботно проводить досуг онлайн.</p>
{% endblock%}

{% block b31 %} Почему именно ESET? {% endblock %}

{% block b51 %} Каждый имеет право ощущать себя в безопасности, даже онлайн! {% endblock %}
