---
title: renew-ru
lang: ru
ver: renew
---

{% extends "layouts/_layout.html" %}

{% block b11 %} Обновляй лицензию и наслаждайся безопасностью от ESET. {%endblock%}
{% block b12 %} Возобновляй лицензию на 1 год и получай скидку 40%. {%endblock%}
{% block b13 %} <b>Нажимай</b> «Возобновить лицензию» {%endblock%}
{% block b14 %} <b>Оплачивай</b> картой {%endblock%}
{% block b15 %} <b>Получай обновление</b> в течение 15 минут {%endblock%}

{% block b21 %}
  <h2>Безопасно открывай мир онлайн</h2>
  <p class="safely__sub">Сбалансированное объединение скорости работы, точности выявления и удобство использования позволяют беззаботно проводить досуг онлайн. <b>Не медли – возобновляй свою лицензию!</b></p>
{% endblock %}

{% block b31 %} Почему стоит остаться именно с ESET? {% endblock %}

{% block b51 %} Возобновляй лицензию и чувствуй себя в безопасности изучая онлайн! {% endblock %}
