<footer class="footer">
  <div class="wrapper">
    <div>
      <svg class="icon-logo">
        <use xlink:href="#logo"></use>
      </svg>
    </div>

    <div>
      <span class="footer__phone">+38 <sup>044 339 57 20</sup></span>
      <span>{{t.days | safe }}, 9:00 - 18:00</span>
    </div>

    <div class="footer__mail">
      <svg class="icon-mail">
        <use xlink:href="#email"></use>
      </svg>
      <a href="mailto:sales@it-mod.com.ua">sales@it-mod.com.ua</a>
    </div>

    <div>
      <div class="footer__mail-mob">
        <svg class="icon-mail">
          <use xlink:href="#email"></use>
        </svg>
        <a class="" href="mailto:sales@it-mod.com.ua"
          >sales@it-mod.com.ua <br
        /></a>
      </div>
      <svg class="icon-point">
        <use xlink:href="#point"></use>
      </svg>
      <span class="footer__addr"
        >{{t.address | safe }}</span
      >
    </div>
  </div>
</footer>
