---
title: order-ua
---

{% block b %}{% endblock %}

{% extends "layouts/_layout.html" %}

{% block choose %} Обрати антивірус {% endblock %}
{% block renew %} Поновити ліцензію {% endblock %}

{% block content %} {% endblock %}

{% block b11 %} Забудь про віруси та постійні збої в комп’ютері!<br /><b>ESET &mdash; насолождуйся безпекою!</b> {% endblock %}
{% block b12 %} Найкращий вибір для захисту усіх ваших домашніх пристроїв на Windows та Android, MacOs та Linux {% endblock %}
{% block b13 %} <b>Обирай</b> антивірус {% endblock %}
{% block b14 %} <b>Сплачуй</b> карткою {% endblock %}
{% block b15 %} <b>Отримуй код</b> активації на email<b> за 15 хвилин</b> {% endblock %}

{% block b21 %}
  <h2>Безпечно відкривай світ онлайн</h2>
  <p class="safely__sub">Збалансоване поєднання швидкості роботи, точності виявлення та зручності використання дозволить безтурботно проводити дозвілля онлайн. </p>
{% endblock %}
{% block b22 %} <span>Швидкість роботи</span>Мінімально впливає на швидкість роботи пристроїв. {% endblock %}
{% block b23 %} <span>Точність виявлення</span>Блокує та знешкоджує навіть складні види загроз. {% endblock %}
{% block b24 %} <span>Зручність використання</span>Забезпечує якісний захист одразу після установки. {% endblock %}

{% block b31 %} Чому саме ESET? {% endblock %}
{% block b32 %}
  <div><span>110+ млн.</span>Користувачів у всьому світі</div>
  <div><span>102+</span>Престижних нагород VB100</div>
  <div><span>30+ років</span>Технології NOD32</div>
  <div><span>13</span>Глобальних дослідницьких центрів</div>
{% endblock %}



{% block b61 %}
  <h2>Легендарна технологія</h2>
  <p class="legendary__sub">Якість технології NOD32 підтверджена численними відзнаками за підсумками незалежних тестувань.</p>
{% endblock %}
