{% set choose = "Выбрать антивирус" %}
{% set buy = "Приобрести антивирус" %}
{% set renew = "Обновить лицензию" %}
{% set order = "Заказать" %}
{% set address = "Украина, 03150, г. Киев,<br />ул. Казимира Малевича 86" %}
{% set days = "пн.-вс." %}

{% set bTitle = "Форма заказа" %}
{% set bName = "Имя и Фамилия" %}
{% set bEmail = "Электронная почта" %}
{% set bPhone = "Телефон" %}
{% set bProduct = "Вы выбрали" %}
{% set bPay = "Оплатить" %}

{% set cardD = "устройств" %}
{% set cardY = "год" %}

{% set rContinue = "Продолжить" %}
{% set rTitle %}
    <h3>Возобновление лицензии. Авторизация</h3>
    <p>Пожалуйста, введите один из параметров, используемых для активации Вашей лицензии.</p>
{%endset%}
{% set rKey %} Лицензионный ключ {%endset%}
{% set rKey2 %} Введите предыдущий ключ активации: {%endset%}
{% set rEmail %} Электронная почта {%endset%}
{% set rEmail2 %} Введите адрес электронной почты, который Вы указали при регистрации продукта: {%endset%}
{% set rPhone %} Номер телефону {%endset%}
{% set rPhone2 %} Введите номер телефона, который Вы указали при регистрации продукта: {%endset%}
{% set rName %} Имя пользователя {%endset%}
{% set rName2 %} Введите EAV / TRIAL-имя, которое Вы получили после регистрации продукта: {%endset%}

{% set b22 %} <span>Скорость работы</span>Минимально влияет на скорость работы устройств. {% endset %}
{% set b23 %} <span>Точность выявления</span>Блокирует и обезвреживает даже сложные виды угроз. {% endset %}
{% set b24 %} <span>Удобство использования</span>Обеспечивает качественную защиту сразу после установки. {% endset %}

{% set b32 %}
  <div><span>110+ млн.</span>Пользователей по всему миру</div>
  <div><span>102+</span>Престижных наград VB100</div>
  <div><span>30+ лет</span>Технологии NOD32</div>
  <div><span>13</span>Глобальных исследовательских центров</div>
{% endset %}

{% set b41 %}
  <h2>Экономь на стоимости новой лицензии при ее обновлении!</h2>
  <p class="renew__sub">В течение 30 дней <b>до окончания действия лицензии</b>, которая используется, или в течение <b>60 дней после</b> окончания действия лицензии ты можешь восстановить лицензию на льготных условиях, то есть <b>получить скидку 40%</b>.</p>
{% endset %}

{% set b61 %}
  <h2>Легендарная технология</h2>
  <p class="legendary__sub">Качество технологии NOD32 подтверждена многочисленными наградами по итогам независимых тестирований.</p>
{% endset %}
