{% set choose = "Обрати антивірус" %}
{% set buy ="Придбати антивірус" %}
{% set renew = "Поновити ліцензію" %}
{% set order = "Замовити" %}
{% set address = "Україна, 03150, м. Київ,<br />вул. Казимира Малевича 86" %}
{% set days = "пн.-нд." %}

{% set bTitle = "Форма замовлення" %}
{% set bName = "Ім’я та Прізвище" %}
{% set bEmail = "Електронна адреса" %}
{% set bPhone = "Телефон" %}
{% set bProduct = "Вы обрали" %}
{% set bPay = "Сплатити" %}

{% set cardD = "пристрій" %}
{% set cardY = "рік" %}

{% set rContinue = "Продовжити" %}
{% set rTitle %}
    <h3>Поновлення ліцензії. Авторизація</h3>
    <p>Будь ласка, введіть один з параметрів, які використовувались для активації Вашої ліцензії.</p>
{%endset%}
{% set rKey %} Ліцензійний ключ {%endset%}
{% set rKey2 %} Введіть попередній ключ активації:{%endset%}
{% set rEmail %} Електронна пошта{%endset%}
{% set rEmail2 %} Введіть адресу електронної пошти, яку Ви вказали під час реєстрації продукту: {%endset%}
{% set rPhone %} Номер телефону {%endset%}
{% set rPhone2 %} Введіть номер телефону, який Ви вказали під час реєстрації продукту: {%endset%}
{% set rName %} Ім’я користувача {%endset%}
{% set rName2 %} Введіть EAV/TRIAL-ім'я, яке Ви отримали після реєстрації продукту: {%endset%}


{# {% set content %} {% endset %} #}

{% set b22 %} <span>Швидкість роботи</span>Мінімально впливає на швидкість роботи пристроїв. {% endset %}
{% set b23 %} <span>Точність виявлення</span>Блокує та знешкоджує навіть складні види загроз. {% endset %}
{% set b24 %} <span>Зручність використання</span>Забезпечує якісний захист одразу після установки. {% endset %}

{% set b32 %}
  <div><span>110+ млн.</span>Користувачів у всьому світі</div>
  <div><span>102+</span>Престижних нагород VB100</div>
  <div><span>30+ років</span>Технології NOD32</div>
  <div><span>13</span>Глобальних дослідницьких центрів</div>
{% endset %}

{% set b41 %}
  <h2>Заощаджуй на вартості нової ліцензії при її поновленні!</h2>
  <p class="renew__sub">Протягом 30 днів <b>до закінчення дії ліцензії</b>, що використовується, або протягом <b>60 днів після</b> закінчення дії ліцензії ти можеш поновити ліцензію на пільгових умовах, тобто <b>отримати знижку 40%</b>.</p>
{% endset %}

{% set b61 %}
  <h2>Легендарна технологія</h2>
  <p class="legendary__sub">Якість технології NOD32 підтверджена численними відзнаками за підсумками незалежних тестувань.</p>
{% endset %}
